<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0" >
     <!--google font -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
     <!-- End of google font -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>New Agents</title>
    <link rel="stylesheet" href="/css/dashboard.css">
  
</head>
<body style="background-color: #f1f5f9">

    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span>Hillpad</span></h2>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/admin/details" class="active"><span><i class="fas fa-user-check"></i></span> <span>Agents</span></a>
                </li>

            </ul>
        </div>

    </div>

    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span><i class="fas fa-bars"></i></span>    
                </label>
            </h2>

            <div class="user-wrapper">
                <small>Welcome</small>
                <div>
                    <small><%=admin.firstname %> <%= admin.lastname %></small>
                </div>
            </div>
        </header>

        
        <main>
            <div class="container wrapper">

                <div class="container mb-5" >
        
                </div>
        
                <table class="table table-bordered table-hover" cellspacing="0" width="100%">
                    <thead style="background-color: #192cc2;">
                        <tr style="color:#fff;">
                            <th class="col-md-2">Name</th>
                            <th class="col-md-2">Email</th>
                            <th class="col-md-2">Phone Number</th>
                            <th class="col-md-2">Office Address</th>
                            <th class="col-md-2">Agent ID</th>
                        </tr>
                    </thead>
                    <%
                    if(agentList.length != 0){
                        var i=1;
                        agentList.forEach(function(data){
                    %>
                    <tbody>
                    
                        <tr class="fulldetails">
                            <td><a href="/admin/agentdetails/<%=data.id %> "><%=data.firstname %> <%= data.lastname %></a></td>
                            <td class="highlight"><a href="/admin/agentdetails/<%=data.id %> "><%= data.email %></a></td>
                            <td><a href="/admin/agentdetails/<%=data.id %> "><%=data.phonenumber %></a></td>
                            <td><a href="/admin/agentdetails/<%=data.id %> "><%=data.officeaddress%></a></td>
                            <td><a href="/admin/agentdetails/<%=data.id %> "><%=data.agent_id %></a></td>
                        </tr>
                       
                    </tbody>
                    <%  i++; }) %>
                    <% } else{ %>
                        <tr>
                            <td colspan="10">No Data Found</td>
                        </tr>
                    <% } %>
                </table>
              </div>
        </main>   
    </div>
</body>
</html>