<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <title>HPS C-panel</title>
      </head>
<style>
    *{
        font-family: 'Poppins', sans-serif;
        
    }

    li{
        list-style-type: none;
    }

    a{
        text-decoration: none !important;
    }

    li a{
        text-decoration: none;
        color: whitesmoke;
    }

    /* li a:hover{
        
    }  */
    body{
        height: 100vh;
    }

    .nav{
        height: 100vh;
        background-color: #f69617;
        position: fixed;
        left:0; top:0; z-index:1;
    }
    .card{
        height: 100px;
        background-color: white;
        /* box-shadow: 0.8px 1.5px #f695177c; */
    }
    
    .card:hover{
        box-shadow: 2.5px 4px #f6951723;
    }

.overlay{
    display: none;
    visibility: hidden;
}
    @media only screen and (max-width: 600px) {
 .overlay {
            display: block;
            visibility: visible;
            position: fixed; /* Sit on top of the page content */
            width: 100%; /* Full width (cover the whole page) */
            height: 100vh; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(0, 0, 0); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
    }
    }
</style>

<body> 
    <div id="overlay" class="overlay text-light " >
        <div class="container" >
            <div class="row">
                <hr>
                <h1 class="text-center p-2">
                    <hr>
                    Please use a Computer to access this page
                </h1>
            </div>
        </div>
    </div>    
    <div class="container-fluid">
        <div class="row ">
            <div class="col-3 nav">
                <div>
                    <div class="container pt-2">
                        <!-- <img src="/images/HPS LOGO.png" alt="hps logo"> -->
                        <img src="./images/HPS LOG.png" alt="" width="100"  class="d-inline-block align-text-top logo">
                    </div>

                    <div class="container mt-5 text-light">
                        <h5 style="color: #e9caa2">Main</h5>
                        <ul>
                            <li>
                                <a href="/support"> Dashboard</a> 
                            </li>
                            <li>
                                <a href="/support/register"> New Immigration Officer</a> 
                            </li>
                            <li>
                                <a href="/support/regbdo"> New Business Development Officer</a> 
                            </li>
                            <li>
                                <a href="/support/superuser" class="superuser"> New Super User</a> 
                                    <script>
                                        // $('a.superuser').click().preventDefault()
                                        $("a.superuser").click(function(event){
                                            event.preventDefault();
                                            $('#col-9').hide(1000)
                                            $('#superuserformcontainer').show(1000)
                                            // alert('click')
                                            });
                                    </script>
                            </li>
                            <li>
                                <a href="/suppauth/logout"> Logout</a> 
                            </li>
                        </ul>
                    </div>

                    <!-- <div class="container mt-5 text-light">
                        <h5 style="color: #e9caa2">Immigration Officers</h5>
                        <ul>
                            <li>
                               <a href="#admins"> List all</a> 
                            </li>
                            <li>
                                <a href="#admins"> Update </a> 
                             </li>
                             <li>
                                <a href="#admins"> Delete </a> 
                             </li>
                        </ul>
                    </div>
                    <div class="container mt-5 text-light">
                        <h5 style="color: #e9caa2">Agents</h5>
                        <ul>
                            <li>
                                <a href="#agent"> List all</a> 
                            </li>
                            <li>
                                <a href="#admins"> Update </a> 
                             </li>
                             <li>
                                <a href="#admins"> Delete </a> 
                             </li>
                        </ul>
                    </div>

                    <div class="container mt-5 text-light">
                        <h5 style="color: #e9caa2">Clients</h5>
                        <ul>
                            <li>
                                <a href="#clients"> List all</a> 
                            </li>
                            <li>
                                <a href="#admins"> Update </a> 
                             </li>
                             <li>
                                <a href="#admins"> Delete </a> 
                             </li>
                        </ul>
                    </div> -->
                </div>
                
            </div>

            <script>
                $('document').ready(()=> {
                    $('#superuserformcontainer').hide()
                })
            </script>

            <div class="col-9" style="margin-left: auto;" id="superuserformcontainer">
                <div class="container mt-5">

                    <form method="POST" action="/support/superuser">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Username</label>
                          <input type="test" class="form-control" placeholder="" name="username" required>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for=>Your Password</label>
                            <input type="password" class="form-control" name="support" required>
                          </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>

            <div class="col-9 " style="margin-left: auto;" id="col-9">
                <div class="container pt-5">
                    <h2>Dashboard  <img src="/images/ajax-loader.gif" alt="loader" class="loading"></label></h2> 
                    <% if (message) { %>
                        <% for (var key in message) { %>
                          <!-- alert message -->
                          <div class="alert alert-<%= key%>  alert-dismissible fade show" role="alert">
                            <strong><%= message[key] %>!</strong> 
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                      <% } %>
                    <% } %> 
                </div>
                <hr>
                <div class="container mt-5 mb-5 ">
                    <div class="row">
                        <div class="col-3 p-1" >
                            <a href="#admin" class="text-dark">
                            <div class="card p-3">
                                <h1 class="text-right "><%= admins.length %> </h1>
                                <span class="text-right" style="color: grey;"> Immigration Officers</span>
                            </div>
                            </a>
                        </div>
                        <div class=" col-3 p-1" >
                            <a href="#agent" class="text-dark">
                            <div class="card p-3">
                                <h1 class="text-right "><%= agents.length %></h1>
                                <span class="text-right" style="color: grey;"> Agents</span>
                            </div>
                            </a>
                        </div>
                        <div class=" col-3 p-1"  >
                            <a href="#leads" class="text-dark">
                            <div class="card p-3">
                                <h1 class="text-right "><%= leads.length %></h1>
                                <span class="text-right" style="color: grey;">Clients</span>
                            </div>
                            </a>
                        </div>
                        <div class=" col-3 p-1" id="clear" >
                            <a href="#" class="">
                            <div class="card p-3"  style="background-color:#f69617;">
                                <h1 class="text-right " style="color: #f69617;"> <%= admins.length %> </h1>
                                <span class="text-right" style="color: #f69617;"> Immigration Officers</span>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container mt-5" id="container">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col">OP</th>
                          </tr>
                        </thead>
                        <tbody id="tbody">
                          
                          
                        </tbody>
                      </table>
                </div>
             
            </div>

            
        </div>

       
       
    </div>

    <script>
        $(".loading").hide()
        const tbody = document.getElementById('tbody')
         const div = document.getElementById('container')
        const clear = document.getElementById('clear')
        clear.addEventListener('click', () => {
            tbody.innerHTML = ""
        })
       
        window.addEventListener('hashchange', () => {
            $(".loading").show()
            // console.log(this.location.href)
            var fulllink = this.location.href.split('#')[1]
            const link = fulllink.split('?')[0]
            const query = fulllink.split('?')[1]
            
            const xhr = new XMLHttpRequest()
            if (link == 'getone'){
                const path = this.location.origin + '/support/' + link + '?' + query
                console.log(path)
                console.log(this.location.origin)
                xhr.open('GET', path , true)
                xhr.responseType = 'json';
                // console.log(xhr.response)
                xhr.onreadystatechange = () => {
                    if(xhr.readyState == 4){
                        $(".loading").hide()
                        const kill = document.getElementById('col-9')
                        // kill.innerHTML = ''
                        // kill.innerHTML = xhr.response.message
                        console.log(xhr.response)
                         div.innerHTML = 'loading.....'
                }
                }
                xhr.send()
            }else{
                const path = '/support/' + link
                xhr.open('GET', path , true)
            xhr.responseType = 'json';

            xhr.onprogress = () => {
                tbody.innerHTML = 'Loading......'
            }
            xhr.onreadystatechange = () => {

                if(xhr.readyState < 4){
                    console.log('loading.....')
                    // div.innerHTML = 'loading.....'
                }else if(xhr.readyState == 4){
                    $(".loading").hide()
                    tbody.innerHTML = ''
                    // div.innerHTML = xhr.response.results[0].id
                    for (let i = 0; i < xhr.response.results.length; i++) {
                        // tbody.insertAdjacentHTML('afterbegin', ``);
                        tbody.insertAdjacentHTML('afterbegin', `
                        
                        <tr>
                           
                            <td> ${ xhr.response.results[i].firstname } </a></td>
                            <td>${ xhr.response.results[i].lastname}</td> 
                            <td>${ xhr.response.results[i].phonenumber}</td>
                            <td>${ xhr.response.results[i].email}</td>
                            <td> <a href=/support/getone?table=${link}&id=${ xhr.response.results[i].id } class="btn btn-primary"> Edit </a </td>
                        </tr>
                        </a>
                    `);
                        }
                    
                    
                }
            }

            xhr.send()
            }
           
        })
    </script>
</body>
</html>