<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

     <!--google font -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
     <!-- End of google font -->

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/Client-dahboard.css">
    <link rel="stylesheet" href="/css/Reg.css">
</head>
<body style="background-color: #f1f5f9;">

<div class="container m-container">
    <div class="text-center" style="padding-top: 70px;">
        <div class="text-center"> <h3 style="color: #f69617; font-weight: bold;">APPLICATION</h3> </div>
        <span>Please provide valid information</span>
    </div>
    <hr>
    <div class="row">
        <form action="/agent/register" method="POST" enctype="multipart/form-data">  
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="input-field">
                        <div>
                            <label for="" class="form-label">FIRSTNAME</label>
                            <div class="input-group mb-4">
                                <input type="text" required class="form-control" aria-label="name" readonly value="<%= user.firstname %>" name="firstname" >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="input-field">
                        <div>
                            <label for="" class="form-label">LASTNAME</label>
                            <div class="input-group mb-4">
                                <input type="text" required class="form-control" aria-label="name" readonly value="<%= user.lastname %>" name="lastname" >
                            </div>
                        </div>
                    </div>
                </div>

            
            </div>

            <!-- adress and date of birth -->
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="input-field">
                        <div>
                            <label for="" class="form-label">PHONE NUMBER </label>
                            <div class="input-group mb-4">
                                <input type="text" required class="form-control" aria-label="Phone number" readonly  name='phonenumber'  value="<%= user.phonenumber %>" >
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-6 col-12">
                    <div class="input-field">
                        <div>
                            <label for="" class="form-label">EMAIL</label>
                            <div class="input-group mb-4">
                                <input type="email" required class="form-control" aria-label="email" readonly  name='email'  value="<%= user.email %>" >
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>

            <!-- address -->
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="input-field">
                        <div>
                            <label for="" class="form-label">CONTACT ADDRESS </label>
                            <div class="input-group mb-4">
                                <input type="text" required class="form-control" aria-label="Address"  name='officeaddress'  value="" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div class="input-field">
                        <div>

                            <!-- TRACKING SELECT FEILD TO SELECT HOW THEY HEARD ABOUT THE COMPANY  -->
                            <label for="" class="form-label">How did you hear about Hilton Parker Services </label>
                            <div class="input-group mb-4">
                                <select class="form-control" id="tracker">
                                    <option value="none" selected>Select an option</option>
                                    <option value="flyer">Flyers</option>
                                    <option value="fb">Facebook</option>
                                    <option value="ig">Instagram</option>
                                    <option value="agofficer">Agent Officer</option>
                                    <option value="other">Other</option>
                                    <option value="null">None of the Above</option>
                                  </select>
                                  <script>
                                      $(document).ready(()=> {
                                        $('#tracker').change(()=> {
                                            const value = $('#tracker').val()
                                            const feild = $('#agofficer')
                                            feild.addClass('d-none')
                                            const submit = $('#submit')
                                            if(value == 'agofficer'){
                                                const selector = $('#agofficerselector')
                                                feild.removeClass('d-none')
                                                selector.prop('required',true)
                                            }
                                        })  
                                      })
                                  </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-none" id="agofficer">
                <div class="col-md-6 col-12">
                    <div class="input-field">
                        <div>
                            <label for="" class="form-label">Agent Officer </label>
                            <div class="input-group mb-4">
                                <select class="form-control" id="agofficerselector" name="agofficer">
                                    <option value="none">Select an option</option>
                                    <% for(var i in agofficer) { %>
                                    <option value="<%= agofficer[i].id %>"><%= agofficer[i].firstname %>&nbsp;<%= agofficer[i].lastname %></option>
                                    <% } %>
                                  </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




           
            <div class="col-md-12 col-12">
                <div class="row">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" required type="checkbox" value="checked">
                        <label class="form-check-label checkbox" for="inlineCheckbox1">I hereby indicate my willingness to engage in the business of Hilton Parker  Services
                            as a freelance agent. I am aware that my information shall be exchanged in the course the consideration of my application and i consent to same.
                        </label>
                      </div>
                </div>
            </div>
            
            <div class="d-flex">
                <div class="submit-btn">
                    <button type="submit" id="submit">Next</button>
                </div>
            </div>
        </form>
    </div>
</div>
</main>
    </div>
    
</body>




